# Data
data/raw/
data/processed/
*.csv

# MLflow
mlruns/
mlartifacts/
mlflow.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
